@import "tailwindcss";
@import "@nuxt/ui";

@layer utilities {
  .revert-browser-styles * {
    all: revert;
  }
}

@theme{
  --breakpoint-celcomflex: 1270px;
}

:root {
 /*  --color-primary: var(--color-blue); */
 --color-blue: #0033a0;
 --color-white: #fff;
 --color-orange: #ff9900;
 --color-gray: rgb(211, 213, 215);
 --color-dark-gray: rgb(29, 41, 61);


  --color-primary: #0033a0;
  --color-secondary: var(--color-gray);

/*  --sidebar-primary: #ff9900;   */
  --sidebar-bg: var(--color-white);  
/*   --sidebar-border: #1a2951;  */ 
  --sidebar-text: var(--color-primary); 
  

  /* --ui-text: var(--color-blue); */
  --ui-primary: #ff9900;
  --ui-bg: var(--color-primary);
  --tw-ring-color: rgb(29, 41, 61);
  --ui-bg-accented: rgb(29, 41, 61);
  --ui-border-accented: var(--color-secondary);
  --ui-border: rgb(29, 41, 61);
  --ui-bg-hover: #ff9900;
  /* --ui-bg-elevated: #0033a0; */
  
  
}



.dark {
  /* --ui-bg: var(--color-primary);
  --ui-primary: var(--color-blue); 
  --ui-text: var(--color-blue); */ 
  /* --ui-text-inverted: var(--color-white); */

/*   --sidebar-primary: #ff9900;   */
  --sidebar-bg: var(--color-primary);  
/*   --sidebar-border: #1a2951;  */ 
  --sidebar-text: var(--color-primary);  

  --ui-primary: var(--color-secondary); 
  /* --ui-text: var(--color-blue); */
  --ui-bg: var(--color-primary);
  --tw-ring-color: rgb(29, 41, 61);
  --ui-bg-accented: rgb(29, 41, 61);
  --ui-border-accented: rgb(29, 41, 61);
  --ui-border: rgb(29, 41, 61);
/*   --ui-bg-hover: #ff9900; */
/* --ui-bg-elevated: #0033a0; */
}

/* z index for import template modal */
[data-dismissable-layer][role="dialog"].top-1\/2.left-1\/2 {  
  z-index: 10000 !important;  
}

[data-dismissable-layer][role="dialog"].top-1\/2.left-1\/2 ~ div.fixed.inset-0,  
div.fixed.inset-0:has(+ [data-dismissable-layer][role="dialog"].top-1\/2.left-1\/2) {  
  z-index: 9999 !important;  
}
/* 
.customButtonColor{
  background-color: var(--ui-primary);
  color: var(--tw-ring-color);
}

.customButtonColor:hover{
  background-color: color-mix(in oklab, var(--ui-primary) 75%, transparent);
}
 */

input[type="text"],  
input[type="url"],  
input[type="file"] {  
  @apply bg-white text-black;  
}  
  
input::placeholder {  
  @apply text-gray-400;  
}  
  
input:focus {  
  @apply border-gray-600;  
}  

/* z index for popover add blocks */
[data-reka-popper-content-wrapper] {
  z-index: 20 !important;
}

.bg-elevated[role="tablist"] { 
  background-color: var(--color-primary) !important; 
}
