@import "tailwindcss";
@import "@nuxt/ui";

@layer utilities {
  .revert-browser-styles * {
    all: revert;
  }
}

:root {
  --ui-primary: #ff9900;
  --ui-bg: #0033a0;
  --tw-ring-color: rgb(29, 41, 61);
  --ui-bg-accented: rgb(29, 41, 61);
  --ui-border-accented: rgb(29, 41, 61);
  --ui-border: rgb(29, 41, 61);
  --ui-bg-hover: #ff9900;
}

.dark {
  --ui-primary: #ff9900; 
  --ui-bg: #0033a0;
  --tw-ring-color: rgb(29, 41, 61);
  --ui-bg-accented: rgb(29, 41, 61);
  --ui-border-accented: rgb(29, 41, 61);
  --ui-border: rgb(29, 41, 61);
/*   --ui-bg-hover: #ff9900; */
}

